/* All element Styles */
p {
    margin: 0;
    padding: 0;
}

button {
    display: inline-block;
    border: 1px solid #D6BFF1;
    background-color: #975FDD;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
}

button:disabled {
    background-color: #D6BFF1;
}

/* Calculator Styles */
.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px repeat(6, 1fr);
    height: 500px;
    width: 400px;
    border: 10px solid #D6BFF1;
    grid-auto-rows: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px #a4a4a4;
    background-color: #D6BFF1;
}

#display {
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    font-size: 27px;
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
    border: solid 1px #d6bff1;
    background-color: #F1E9FA;
    border-radius: 10px;
    margin-bottom: 10px;
}

#previous {
    color: grey;
}

#equals {
    grid-column: span 2;
}

/* Hover tooltip styles */
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: white;
    background-color: #808080;
    width: 100px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: -50px;
    padding: 10px 5px;
    box-sizing: border-box;
    box-shadow: -5px 5px 9px -2px #878787;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 1s;
}

/* Shortcuts Styles */
.shortcuts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-family: 'Anonymous Pro', monospace;
}

#show-shortcuts {
    visibility: visible;
    font-size: 14px;
}

#show-shortcuts.hide {
    visibility: hidden;
}

#shortcuts-key {
    visibility: visible;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#header {
    background-color: grey;
    font-size: larger;
}

#shortcuts-key p {
    border-bottom: 2px grey solid;
    padding: 5px 0px;
    font-size: 14px;
}

#shortcuts-key.hide {
    visibility: hidden;
}

/* Mobile Layout */
@media (max-width: 768px) {
    body {
        background-color: #D6BFF1;
    }
    .calculator-container {
        width: 100%;
        height: 100%;
    }
    .calculator-grid {
        width: 100%;
        height: inherit;
        box-shadow: none;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 100px repeat(6, 100px);
        align-content: space-between;
    }
    #display {
        font-size: 40px;
    }
    .shortcuts-container {
        opacity: 0;
    }
}