/* All element Styles */
p {
    margin: 0;
    padding: 0;
}

button {
    display: inline-block;
    background-color: #207872;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    font: 30px "Roboto Mono", serif;
    color: floralwhite;
    border: 1px solid #207872;
    box-shadow: #424242 1px 1px 2px 0.7px;
}

button:active {
    background-color: #144d49;
}

#delete:active, #clear:active, .operand:active, #equals:active {
    background-color: #311655;
}

button:disabled {
    background-color: #9AE3DE;
    box-shadow: none;
    border: none;
}

/* Calculator Styles */
.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px repeat(6, 1fr);
    height: 500px;
    width: 400px;
    border: 10px solid #9AE3DE;
    grid-auto-rows: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 1px #a4a4a4;
    background-color: #9AE3DE;
    gap: 6px;
}

#display {
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    font: 32px "Roboto Mono", monospace;
    border: solid 1px #9AE3DE;
    background-color: #F6FCFC;
    border-radius: 10px;
    margin-bottom: 10px;
}

#previous {
    color: grey;
}

#equals {
    grid-column: span 2;
    color: floralwhite;
    background-color: #462078;
    border-color: #462078;
}

#delete, #clear, .operand {
    color: floralwhite;
    background-color: #462078;
    border-color: #462078;
}

/* Tooltip styles */
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    color: floralwhite;
    background-color: #808080;
    width: 100px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: -50px;
    padding: 10px 5px;
    box-sizing: border-box;
    box-shadow: -5px 5px 9px -2px rgb(24, 24, 24);
    font-size: 14px;
}

/* Shortcuts table Styles */
.shortcuts-container {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font: 18px "Roboto Mono", serif;
}

/* Shortcuts tooltip and table only on desktop */
@media (hover: hover) {
    .tooltip:hover .tooltiptext {
        visibility: visible;
        transition-delay: 1.5s;
    }
    .shortcuts-container {
        display: flex;
    }
}

#show-shortcuts {
    visibility: visible;
    font-size: 14px;
}

#show-shortcuts.hide {
    visibility: hidden;
}

#shortcuts-key {
    visibility: visible;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#header {
    background-color: grey;
    font-size: larger;
}

#shortcuts-key p {
    border-bottom: 2px grey solid;
    padding: 5px 0px;
    font-size: 14px;
}

#shortcuts-key.hide {
    visibility: hidden;
}

/* Mobile Layout */
@media (max-width: 811px) {
    body {
        background-color: #9AE3DE;
    }

    button {
        box-shadow: none;
    }

    .calculator-container {
        width: 100%;
        height: 100%;
    }

    .calculator-grid {
        width: 100%;
        height: inherit;
        box-shadow: none;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px repeat(6, 1fr);
        align-content: space-between;
        box-sizing: border-box;
        overflow: hidden;
        gap: 2px;
        position: relative;
    }
    #display {
        font-size: 40px;
    }
    .shortcuts-container {
        display: none;
    }
}